# Introduction

Run the following cell to load your data and some utility functions.

In [2]:
import pandas as pd

reviews = pd.read_csv(r"C:\Users\Renad\Downloads\winemag-data_first150k.csv", index_col=0)
#pd.set_option("display.max_rows", None)
reviews.head()

,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

# Exercises

## 1. 
What is the data type of the `points` column in the dataset?

In [3]:
# Your code here
dtype = reviews['points'].dtype
dtype

dtype('int64')

## 2. 
Create a Series from entries in the `points` column, but convert the entries to strings. Hint: strings are `str` in native Python.

In [4]:
point_strings = reviews['points'].astype(str)
point_strings

0         96
1         96
2         96
3         96
4         95
          ..
150925    91
150926    91
150927    91
150928    90
150929    90
Name: points, Length: 150930, dtype: object

In [5]:
print(reviews['points'].dtype)

int64

## 3.
Sometimes the price column is null. How many reviews in the dataset are missing a price?

In [6]:
n_missing_prices = reviews['price'].isnull().sum()
n_missing_prices

np.int64(13695)

## 4.
What are the most common wine-producing regions? Create a Series counting the number of times each value occurs in the `region_1` field. This field is often missing data, so replace missing values with `Unknown`. Sort in descending order.  Your output should look something like this:

```
Unknown                    21247
Napa Valley                 4480
                           ...  
Bardolino Superiore            1
Primitivo del Tarantino        1
Name: region_1, Length: 1230, dtype: int64
```

In [7]:

reviews['region_1'].fillna('Unknown', inplace=True)  # Ensure missing values are 'Unknown'
reviews['region_1'].replace('null', 'Unknown', inplace=True)  # Replace string 'null' with 'Unknown'

reviews_per_region = reviews['region_1'].value_counts()  # Get count of each region
print(reviews_per_region)

region_1
Unknown                       25060
Napa Valley                    6209
Columbia Valley (WA)           4975
Mendoza                        3586
Russian River Valley           3571
                              ...
Niagara Escarpment                1
Del Veneto                        1
Napa County-Lake County           1
Vin de Pays de Montferrand        1
Clairette de Bellegarde           1
Name: count, Length: 1237, dtype: int64

C:\Users\Renad\AppData\Local\Temp\ipykernel_20212\26686370.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  reviews['region_1'].fillna('Unknown', inplace=True)  # Ensure missing values are 'Unknown'

# Keep going